* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #ffffff;
  overflow: hidden;
}

/* SECTION - LOADER */
body:not(.loaded) main {
  display: none;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.svg-container {
  position: relative;
}

.svg-1 {
  animation: bounce 1s infinite alternate 1.1s;
  -webkit-animation: bounce 1s infinite alternate 1.1s;
}

.svg-2 {
  position: absolute;
  top: 0;
  left: 25px;
  animation: bounce 1s infinite alternate 1s;
  -webkit-animation: bounce 1s infinite alternate 1s;
}

.svg-3 {
  position: absolute;
  top: 0;
  left: 51px;
  animation: bounce 1s infinite alternate 0.9s;
  -webkit-animation: bounce 1s infinite alternate 0.9s;
}

.svg-4 {
  position: absolute;
  top: 0;
  left: 78px;
  animation: bounce 1s infinite alternate 0.8s;
  -webkit-animation: bounce 1s infinite alternate 0.8s;
}

.svg-5 {
  position: absolute;
  top: 0;
  left: 135px;
  animation: bounce 1s infinite alternate 0.7s;
  -webkit-animation: bounce 1s infinite alternate 0.7s;
}

.svg-6 {
  position: absolute;
  top: 0;
  left: 157px;
  animation: bounce 1s infinite alternate 0.6s;
  -webkit-animation: bounce 1s infinite alternate 0.6s;
}

.svg-7 {
  position: absolute;
  top: 0;
  left: 179px;
  animation: bounce 1s infinite alternate 0.5s;
  -webkit-animation: bounce 1s infinite alternate 0.5s;
}

@keyframes bounce {

  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
}
/* !SECTION - LOADER */

/* SECTION - 1 */
main {
  height: 100vh;
  display: flex;
}

#jsContent2 {
  display: none;
}

.inicio {
  display: relative;
  width: 100%;
}

.group {
  display: flex;
  gap: 5px;
  position: absolute;
  left: 3%;
  bottom: 3%;
}

.construction1 {
  text-shadow: 0 0 30px #fff;
  animation: subindo 2s infinite;
  -webkit-animation: subindo 2s infinite;
}

/* animação de subindo e descendo */
@keyframes subindo {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.sociais {
  position: absolute;
  right: 5%;
  bottom: 30%;
  display: flex;
  flex-direction: column;
  justify-items: start;
  gap: 60px;
}

a {
  /* position: absolute; */
  top: 10px;
  left: 0;
}

.hr {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

/* MEDIA QUERIE MOBILE */
@media (min-width: 360px) and (max-width: 768px) {

  #jsContent {
    display: none;
  }

  #jsContent2 {
    display: block;
    /* width: ; */
  }

  .sociais2 {
    position: absolute;
    left: calc(50% - 150px);
    top: 5%;
    display: flex;
    gap: 50px;
  }

  .loader{
    width: 85%;
  }
}
/* !SECTION - 1 */